{% ckan_extends %}

{% block basic_fields %}
	{{ super() }}
	
	{#{{ form.input('dataset_review_interval', label=_('Dataset Review Interval'), id='field-dataset_review_interval', placeholder=_('e.g. 3m'), value=data.dataset_review_interval, error=errors.dataset_review_interval, classes=['control-full']) }}#}

	<div class="control-group">
    	<label class="control-label" for="field-related_dataset_info">{{ _("Dataset Review Interval") }}</label>

		<div class="controls">
			<input type="number" id="field-dataset_review_interval" name="dataset_review_interval" value="{{ c.dataset_review_interval }}" style="width: 25px" />
			<select id="field-dataset_review_interval_type" name="dataset_review_interval_type">
				{% for type in h.get_dataset_review_interval_types()  %}
				<option value="{{ type }}" {% if type == c.dataset_review_interval_type %}selected="selected"{% endif %}>{{ type }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
{% endblock %}

{% block custom_fields %}
{% endblock %}